/* src/components/CapturedPieces/CapturedPieces.css */
.captured-pieces {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  min-height: 200px;
}

.white-captured {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.black-captured {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.captured-pieces h4 {
  margin-top: 0;
  text-align: center;
}

.pieces-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  width: 140px;
}

.captured-piece {
  width: 30px;
  height: 30px;
}